
.main{
    position: relative;
    width: 945px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    left:450px;
}
.item{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    background-size: cover;
}

.item1{
    background-image: url(https://s3.uuu.ovh/imgs/2023/06/09/0cb541f315454ed0.png);
 }
 .item2{
     background-image: url(https://f.pz.al/pzal/2023/05/02/245e819cfedfd.jpg);
     left: 100%;
 }
 .item3{
     background-image: url(https://f.pz.al/pzal/2023/05/02/310f6f3212dbb.png);
     left: 200%;
 } 
 .item4{
    background-image: url(https://f.pz.al/pzal/2023/05/02/ca47e566c4c32.jpg);
    left: 300%;
}
.item5{
    background-image: url(https://f.pz.al/pzal/2023/05/02/834cf48b3ac67.png);
    left: 400%;
}
.item6{
    background-image: url(https://f.pz.al/pzal/2023/05/02/b520bc0d18bea.jpg);
    left: 500%;
}
input{
    position: relative;
    z-index: 100;
    display: none;
}
.select{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;         
}
.select>label{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    border: 1.5px solid white;
}
.main input:nth-of-type(1):checked ~ .select label:nth-of-type(1){
    background-color: rgb(26, 26, 26);
}
.main input:nth-of-type(2):checked ~ .select label:nth-of-type(2){
    background-color: rgb(26, 26, 26);
}
.main input:nth-of-type(3):checked ~ .select label:nth-of-type(3){
    background-color: rgb(26, 26, 26);
}
.main input:nth-of-type(4):checked ~ .select label:nth-of-type(4){
    background-color: rgb(26, 26, 26);
}
.main input:nth-of-type(5):checked ~ .select label:nth-of-type(5){
    background-color: rgb(26, 26, 26);
}
.main input:nth-of-type(6):checked ~ .select label:nth-of-type(5){
    background-color: rgb(26, 26, 26);
}
.main input:nth-of-type(1):checked ~ .item{
    transform: translateX(0);
}
.main input:nth-of-type(2):checked ~ .item{
    transform: translateX(-100%);
}
.main input:nth-of-type(3):checked ~ .item{
    transform: translateX(-200%);
}
.main input:nth-of-type(4):checked ~ .item{
    transform: translateX(-300%);
}
.main input:nth-of-type(5):checked ~ .item{
    transform: translateX(-400%);
}
.main input:nth-of-type(6):checked ~ .item{
    transform: translateX(-500%);
}

.circle{
    width:120px; 
    height:120px; 
    border-radius:50%; 
    overflow:hidden;
    }
    .circle > img{
    width: 100%;
    height: 100%;
    }